services:
  frontend:
    build:
      context: .
    ports:
      - "5173:5173" # Port pour le développement
      - "4173:4173" # Port pour la prévisualisation en production
    volumes:
      - .:/app
    command: npm run dev