services:
  api:
    build:
      context: ./backend
      target: dev
    env_file: ./backend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - node-modules:/app/node_modules
    depends_on:
      - mongo
    profiles: ["dev"]

  api-prod:
    build:
      context: ./backend
      target: prod
    env_file: ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    profiles: ["prod"]

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
      - mongo

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
  node-modules: